
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />


<table class="table table-condensed">
    <tr>
        <th>KategoriID</th>
        <th>Kategori Adı</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Beyaz Eşya</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Bilgisayar</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mobilya</td>
    </tr>
</table>

<div style="background-color:aqua;margin-left:100px">Bu bir divdir</div>
<br />

