@model AkademiPlus_Transportation.Models.TblAdmin
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Profil Bilgileri Güncelleme</h2>
<form method="post">
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x=>x.UserName,new { @class ="form-control"})
    <br />
    <label>Parola</label>
    @Html.TextBoxFor(x=>x.Password,new { @class ="form-control"})
    <br />
    <label>Kullanıcı Rolü</label>
    @Html.TextBoxFor(x=>x.AdminRole,new { @class ="form-control"})
    <br />
</form>

